@using yazilimYapimi.Web.Entity;
@model IEnumerable<Urun>
@{
    ViewBag.Title = "UrunAlim";
}

<div class="container mt-5">
    <form action="" method="post">
        <label>Miktar</label><br>
        <input type="text" name="urunMiktar" placeholder="ürün miktarı">
        <input type="hidden" name="id" value="@ViewBag.Urun.UrunId"/>
        <input type="submit" value="Onayla" class = "btn btn-success btn-sm"/>
       @* @Html.ActionLink("Onayla", "UrunAlim", new { id = ViewBag.Urun.UrunId }, new { @class = "btn btn-success btn-sm" })*@
    </form>
</div>

